.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('/Users/mac/Final-project/Final-Project/client/src/pictures/FoodByMaria_Feb2020_MJay.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
   
  }
  
  .title {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }
  
  .subtitle {
    color: #333;
    font-size: 2rem;
    margin-bottom: 4rem;
    text-shadow: 1px 1px 2px rgba(16, 16, 16, 0.6);
  }
  
  .get-started-button {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    background-color: #ffcc00;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
   
  }
  
  .get-started-button:hover {
    background-color: #fff;
    transform: scale(1.05);
  }